/*
$size-1: 6rem;
$size-2: 5rem;
$size-3: 4rem;
$size-4: 3rem;
$size-5: 2.5rem;
$size-6: 2rem;
$size-7: 1.5rem;
*/

$custom-colors: (
        "red": #f00,
        "green": #0f0,
        "blue": #00f,
)